body{
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    height: 100vh;
    
}
/*global header/footer css*/
header,
footer{
    background-color: #1f2937;

}


/*hero container (first container + header)*/
header{
    box-sizing: border-box;
    color: white;
    justify-content: center;
    align-items: center;
}
.top-nav{
    display: flex;
    width: 800px;
    margin: auto;
}
.header ul{
    font-size: 18px;
    color: #e5e7eb;
}
.header-logo{
    box-sizing: border-box;
    margin-right: auto;
    align-self: center;
    padding-right: 16px;
    font-size: 24px;
    color: #f9faf8;
}

.top-nav ul{
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    list-style: none;
}

/*container A*/
.hero-container{
    display: flex;
    margin: 30px auto ;
    width: 800px;
    

}
.hero-container-A{
    align-self:space-between;
    flex:1;
    margin-right: 20px;

}
.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-paragraph{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-container-A button{
    padding:10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 7px 25px;
    border-radius: 5px;
    border:#3882f6 solid;
    font-weight: bold;
}
/*container B*/
.hero-container-B{
    height: 250px;
    width: 400px;
}
.hero-container-B img{
    width: 100%;
    height: 100%;
}
/*global item conntainer css*/
.item-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*container 1*/
.item-container#one{
    display: flex;
    align-items: center;
    background-color : white;
    padding: 20px;
    

}
.illustration-title{
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 10px;
}
.illustration-container{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.illustration{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.box{
    width: 100px;
    height: 100px;
    border: #3882f6 solid 3px;
    border-radius: 10px;  
    display: flex;  
}
.text{
    max-width: 100px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
/*container 2*/
.item-container#two{
    background-color: #e5e7eb;
}
/*container 3*/
.item-container#three{

}


/*footer*/
footer{
    display: flex;
    margin-bottom:auto;
    border: red solid 1px;
    flex: 0.5;

}